body {
  background-color: #BDBDBD;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

a {
  color: blue; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  width: 700px;
  margin: 0 auto;
  background: white;
  padding: 20px 40px;
  border: solid 1px #585858;
  margin-top: 20px; }
#resultados {
  margin: 0 auto;}
table,td,tr,th{
  border: 1px #BDBDBD dashed;
  border-collapse:collapse;
  text-align: center;
  padding: 1px; }