body {
  font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: #4f6b72;
  background-color: #BDBDBD;
  }

a {
  color: blue; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  width: 800px;
  margin: 0 auto;
  background: white;
  padding: 20px 40px;
  border: solid 1px #585858;
  margin-top: 20px; }

th {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 12px;
    background: #CAE8EA url(public/images/bg_header.jpg) no-repeat;
}

th.nobg {
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #C1DAD7;
    background: none;
}

td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #fff;
    padding: 6px 6px 6px 12px;
    color: #4f6b72;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
}
td.alt {
    background-color: #F5FAFA;
    color: #797268;
}
   
#resultados {
  margin: 0 auto;}
table,td,tr,th{
  border: 1px #BDBDBD dashed;
  border-collapse:collapse;
  text-align: center;
 }
