<html>
  <head>
    <title>Practica topicos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/public/main.css" type="text/css" media="screen" title="Main CSS" charset="utf-8">
  </head>
  <body>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
